In [ ]:
import pandas as pd
df = pd.read_csv("C:/T/b_2101.csv", encoding = "cp949")
selected_stations = [500, 501, 502, 505, 515, 516, 539, 540,
                     542, 543, 544, 546, 548, 549, 551, 552, 
                     553, 555, 571, 573, 574, 575, 576, 577, 
                     584, 588, 590, 591, 592, 593, 3500, 3501, 
                     3502, 3503, 3504, 3505, 3506, 3507, 3508, 
                     3509, 3510, 3516, 3517, 3518, 3520, 3521, 
                     3523, 3528, 3529, 3533, 3534, 3536, 3537, 
                     3542, 3543, 3563, 3566, 3569, 3570, 3571, 
                     3573, 3575, 3579, 3581, 3582, 3586, 3587, 
                     3588, 3853, 3860, 3863, 3864, 3865, 3868, 
                     3873, 3878, 3879, 3880, 3881, 3882, 3886, 
                     3890, 3894, 3898, 3899, 3900]

filtered_df = df[df["대여소번호"].isin(selected_stations)]

In [1]:
import pandas as pd

# 선택된 대여소 번호 리스트
selected_stations = [500, 501, 502, 505, 515, 516, 539, 540,
                     542, 543, 544, 546, 548, 549, 551, 552, 
                     553, 555, 571, 573, 574, 575, 576, 577, 
                     584, 588, 590, 591, 592, 593, 3500, 3501, 
                     3502, 3503, 3504, 3505, 3506, 3507, 3508, 
                     3509, 3510, 3516, 3517, 3518, 3520, 3521, 
                     3523, 3528, 3529, 3533, 3534, 3536, 3537, 
                     3542, 3543, 3563, 3566, 3569, 3570, 3571, 
                     3573, 3575, 3579, 3581, 3582, 3586, 3587, 
                     3588, 3853, 3860, 3863, 3864, 3865, 3868, 
                     3873, 3878, 3879, 3880, 3881, 3882, 3886, 
                     3890, 3894, 3898, 3899, 3900]

# 반복문을 통해 각 파일을 처리
for month in range(7, 8):  # 1월(s_2101)부터 12월(s_2112)까지 반복
    file_path = f"C:/T/b_23{month:02d}.csv"  # 파일 경로 생성
    try:
        # CSV 파일 읽기
        df = pd.read_csv(file_path, encoding="cp949")

        # 대여소번호 필터링
        filtered_df = df[df["대여소번호"].isin(selected_stations)]

        # 새로운 CSV 파일로 저장
        save_path = f"C:/T/filtered_s_23{month:02d}.csv"
        filtered_df.to_csv(save_path, index=False, encoding="cp949")

        print(f"파일 저장 완료: {save_path}")

    except FileNotFoundError:
        print(f"파일 없음: {file_path}")
    except Exception as e:
        print(f"오류 발생: {file_path} - {e}")

파일 저장 완료: C:/T/filtered_s_2307.csv

In [12]:
dataframes = [pd.read_csv(f'C:/T/filtered_s_23{i:02}.csv',encoding="cp949") for i in range(1, 13)]

# 모든 데이터프레임을 하나로 결합
combined_df = pd.concat(dataframes, ignore_index=True)

save_path = f"C:/T/combined_23.csv"        
combined_df.to_csv(save_path, index=False, encoding="cp949")

# 결과의 상위 5개 행 출력
combined_df.head()

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2023-09-01,3518,3518. 군자역 7번출구뒤,정기권,NaN,~10대,1,25.08,0.26,1130.77,5
1,2023-09-01,3517,3517. 용마사거리,정기권,NaN,~10대,1,6.57,0.39,1659.86,12
2,2023-09-01,3516,3516. 구의아리수정수센터앞,정기권,NaN,~10대,1,20.37,0.24,1049.94,8
3,2023-09-01,3533,3533. 건대입구역 사거리(롯데백화점),정기권,NaN,~10대,2,30.20,0.43,1840.00,13
4,2023-09-01,3570,3570.구의역 리버비스타 오피스텔,정기권,NaN,~10대,1,12.98,0.16,668.68,4

In [13]:
station_numbers_list_2022 = combined_df['대여소번호'].unique()
station_numbers_list_2022.sort()
station_numbers_list_2022

num_stations_2022 = len(station_numbers_list_2022)

station_numbers_list_2022, num_stations_2022

(array([ 500,  501,  502,  505,  515,  516,  539,  540,  542,  543,  544,
         546,  548,  549,  551,  552,  553,  555,  571,  573,  574,  575,
         576,  577,  584,  588,  590,  591,  592,  593, 3500, 3501, 3502,
        3503, 3504, 3505, 3506, 3507, 3508, 3509, 3510, 3516, 3517, 3518,
        3520, 3521, 3523, 3528, 3529, 3533, 3534, 3536, 3537, 3542, 3543,
        3563, 3566, 3569, 3570, 3571, 3573, 3575, 3579, 3581, 3582, 3586,
        3587, 3588, 3853, 3860, 3863, 3864, 3865, 3868, 3873, 3878, 3879,
        3880, 3881, 3882, 3886, 3890], dtype=int64),
 82)

In [16]:
dataframes = [pd.read_csv(f'C:/T/final_일별_대여/일별_2{i}.csv',encoding="utf-8") for i in range(1, 5)]

# 모든 데이터프레임을 하나로 결합
combined_df = pd.concat(dataframes, ignore_index=True)

save_path = f"C:/T/all_bike_day.csv"        
combined_df.to_csv(save_path, index=False, encoding="utf-8")

# 결과의 상위 5개 행 출력
combined_df.head()

C:\Users\peter\AppData\Local\Temp\ipykernel_2132\4063682329.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(f'C:/T/final_일별_대여/일별_2{i}.csv',encoding="utf-8") for i in range(1, 5)]

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2021-01-01,500,500. 어린이대공원역 3번출구 앞,일일(회원),\N,AGE_002,2,107.24,1.05,4498.58,23
1,2021-01-01,500,500. 어린이대공원역 3번출구 앞,일일(회원),\N,AGE_004,1,0,0,0.00,24
2,2021-01-01,500,500. 어린이대공원역 3번출구 앞,일일(회원),NaN,AGE_002,1,0,0,0.00,78
3,2021-01-01,500,500. 어린이대공원역 3번출구 앞,일일(회원),F,AGE_002,2,0,0,0.00,119
4,2021-01-01,500,500. 어린이대공원역 3번출구 앞,일일(회원),M,AGE_002,1,46.42,0.34,1465.17,9

In [17]:
combined_df.tail()

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
3038414,2024-12-31,584,584. 광진광장 교통섬,정기권,M,기타,1,18.53,0.17,720.00,3
3038415,2024-12-31,588,588. 뚝섬 유원지역,정기권,M,기타,1,0.0,0.0,0.00,2
3038416,2024-12-31,3500,3500. 군자역2번출구,정기권,M,기타,1,60.0,0.54,2331.01,27
3038417,2024-12-31,3504,3504. 원일교회,정기권,M,기타,1,37.74,0.34,1466.26,70
3038418,2024-12-31,502,502. 자양(뚝섬한강공원)역 1번출구 앞,정기권,M,기타,1,155.05,1.4,6023.60,74

In [20]:
data = pd.read_csv("../all_bike_day.csv")

C:\Users\peter\AppData\Local\Temp\ipykernel_2132\3006887546.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../all_bike_day.csv")

In [21]:
data.tail()

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
3038414,2024-12-31,584,584. 광진광장 교통섬,정기권,M,기타,1,18.53,0.17,720.00,3
3038415,2024-12-31,588,588. 뚝섬 유원지역,정기권,M,기타,1,0.0,0.0,0.00,2
3038416,2024-12-31,3500,3500. 군자역2번출구,정기권,M,기타,1,60.0,0.54,2331.01,27
3038417,2024-12-31,3504,3504. 원일교회,정기권,M,기타,1,37.74,0.34,1466.26,70
3038418,2024-12-31,502,502. 자양(뚝섬한강공원)역 1번출구 앞,정기권,M,기타,1,155.05,1.4,6023.60,74